<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpModules>
        <add name="MyModule" type="Dbs.Module.MyModule"/>
      </httpModules>
    </system.web>
  <connectionStrings>
    <add name="petshop4" connectionString="server=.;database=eShop;uid=sa;pwd=sasasa123"/>
  </connectionStrings>
  <appSettings>
    <add key="SP" value="name" />
  </appSettings>
</configuration>

